<div class="event-checklist">
  <div class="button">
    <div class="icon">
      <img src="/static/images/site/victor-dries-rose-b.svg">
    </div>
  </div>
  <div class="menu">
    <ol class="checklist">
      <li class="checklist-item">
        <div class="label">
          <span>Book your event</span>
        </div>
        <div class="icon">
          <img src="/static/images/site/victor-dries-rose-b.svg">
        </div>
      </li>
      <li class="checklist-item">
        <div class="label">
          <span>Event checklist</span>
        </div>
        <div class="icon">
          <img src="/static/images/site/victor-dries-rose-b.svg">
        </div>
      </li>
      <li class="checklist-item">
        <div class="label">
          <span>Call us</span>
        </div>
        <div class="icon">
          <img src="/static/images/site/victor-dries-rose-b.svg">
        </div>
      </li>
    </ol>
  </div>
</div>
