<section class="section gallery-section">
  <ul>
    <div>
      <li>
        <div class="element">
          <div class="image">
            <img src="/static/images/gallery/gallery-15.jpg">
          </div>
          <div class="body">
            <h4>Grilled Razor Clams</h4>
            <a href="">View in Full Resolution</a>
          </div>
        </div>
      </li>
    {% for i in "iiiiiiiiiiiiii" %}
      {% if forloop.counter|divisibleby:3 %}
        </div>
        <div>
      {% endif %}
        <li>
          <div class="element">
            <div class="image">
              <img src="/static/images/gallery/gallery-{{ forloop.counter }}.jpg">
            </div>
            <div class="body">
              <h4>Grilled Razor Clams</h4>
              <a href="">View in Full Resolution</a>
            </div>
          </div>
        </li>
    {% endfor %}
    </div>
  </ul>
</section>
