<section class="section menu-section">
  <div class="wrap clear-col">
    <div class="menu-headings">
      <h2>Menu Offerings</h2>
      <ol>
        <li>
          <a>Hors D'oeuvres</a>
        </li>
        <li>
          <a>Breakfast</a>
        </li>
        <li>
          <a>Lunch</a>
        </li>
        <li>
          <a>Dinner</a>
        </li>
        <li>
          <a>Stations</a>
        </li>
        <li>
          <a>Vegetarian</a>
        </li>
        <li>
          <a>Vegan</a>
        </li>
      </ol>
    </div>
    <div class="menu-contents">
      <ol>
        <li>
          <span>Polenta</span>
          <span>Cabbage, warm teleggio, toasted hazelnuts</span>
        </li>
        <li>
          <span>Polenta</span>
          <span>Cabbage, warm teleggio, toasted hazelnuts</span>
        </li>
        <li>
          <span>Polenta</span>
          <span>Cabbage, warm teleggio, toasted hazelnuts</span>
        </li>
        <li>
          <span>Polenta</span>
          <span>Cabbage, warm teleggio, toasted hazelnuts</span>
        </li>
        <li>
          <span>Polenta</span>
          <span>Cabbage, warm teleggio, toasted hazelnuts</span>
        </li>
        <li>
          <span>Polenta</span>
          <span>Cabbage, warm teleggio, toasted hazelnuts</span>
        </li>
        <li>
          <span>Polenta</span>
          <span>Cabbage, warm teleggio, toasted hazelnuts</span>
        </li>
        <li>
          <span>Polenta</span>
          <span>Cabbage, warm teleggio, toasted hazelnuts</span>
        </li>
        <li>
          <span>Polenta</span>
          <span>Cabbage, warm teleggio, toasted hazelnuts</span>
        </li>
      </ol>
    </div>
  </div>
</section>
