<nav class="mnav">
  <div class="mnav-mobile">
    <a class="mnav-a" href="" title="Home">
      <img src="/static/images/site/victor-dries-logo.svg" width="1737" height="365" alt="Victor Dries">
    </a>
  </div>
  <ul class="mnav-ul">
    <li class="mnav-li mnav-logo">
      <a class="mnav-a" href="/" title="Home">
        <img src="/static/images/site/victor-dries-logo.svg" width="1737" height="365" alt="Victor Dries">
      </a>
    </li>
    <li class="mnav-li mnav-drop">
      <a class="mnav-a" href="" title="Offerings">Offerings</a>
      <ul class="snav-ul">
        <li class="snav-li snav-drop">
          <a class="snav-a" href="" title="Cocktails">Social</a>
          <ul class="tnav-ul">
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Weddings">Weddings</a>
            </li>
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Intimate Dinners">Intimate Dinners</a>
            </li>
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Brand Enhancement">Brand Enhancement</a>
            </li>
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Other Services">Other Services</a>
            </li>
          </ul>
        </li>
        <li class="snav-li snav-drop">
          <a class="snav-a" href="" title="Cocktails">Cocktails</a>
          <ul class="tnav-ul">
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Spanish">Spanish</a>
            </li>
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Classic">Classic</a>
            </li>
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Nolo">Nolo</a>
            </li>
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Punches">Punches</a>
            </li>
          </ul>
        </li>
        <li class="snav-li snav-drop">
          <a class="snav-a" href="" title="Corporate">Corporate</a>
          <ul class="tnav-ul">
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Canapes">Canapes</a>
            </li>
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Food Stations">Food Stations</a>
            </li>
          </ul>
        </li>
        <li class="snav-li snav-drop">
          <a class="snav-a" href="" title="Unique &amp; Specific">Unique &amp; Specific</a>
          <ul class="tnav-ul">
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Bar Raval">Bar Raval</a>
            </li>
            <li class="tnav-li">
              <a class="tnav-a" href="/offerings/unique/bar-isabel/" title="Bar Isabel">Bar Isabel</a>
            </li>
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Argentinian Parilla">Argentinian Parilla</a>
            </li>
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Italian">Italian</a>
            </li>
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Harry's Burgers">Harry's Burgers</a>
            </li>
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Eastern Block">Eastern Block</a>
            </li>
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Raw Bar">Raw Bar</a>
            </li>
          </ul>
        </li>
        <li class="snav-li snav-drop">
          <a class="snav-a" href="" title="Team Building">Team Building</a>
          <ul class="tnav-ul">
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Making Pasta">Making Pasta</a>
            </li>
            <li class="tnav-li">
              <a class="tnav-a" href="" title="Pintxo Competition">Pintxo Competition</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="mnav-li">
      <a class="mnav-a" href="" title="Menus">Menus</a>
    </li>
    <li class="mnav-li">
      <a class="mnav-a" href="" title="Testimonials">Testimonials</a>
    </li>
    <li class="mnav-li mnav-drop">
      <a class="mnav-a" href="" title="About">About</a>
      <ul class="snav-ul">
        <li class="snav-li">
          <a class="snav-a" href="" title="Team">Team</a>
        </li>
        <li class="snav-li">
          <a class="snav-a" href="" title="Our Story">Our Story</a>
        </li>
      </ul>
    </li>
    <li class="mnav-li mnav-drop">
      <a class="mnav-a" href="" title="Restaurants">Restaurants</a>
      <ul class="snav-ul">
        <li class="snav-li">
          <a class="snav-a" href="" target="_blank" title="Bar Raval">Bar Raval</a>
        </li>
        <li class="snav-li">
          <a class="snav-a" href="" target="_blank" title="Bar Isabel">Bar Isabel</a>
        </li>
        <li class="snav-li">
          <a class="snav-a" href="" target="_blank" title="Harry's Burgers">Harry's Burgers</a>
        </li>
        <li class="snav-li">
          <a class="snav-a" href="" target="_blank" title="Raw Bar">Raw Bar</a>
        </li>
      </ul>
    </li>
    <li class="mnav-li">
      <a class="mnav-a" href="" title="Contact">Contact</a>
    </li>
  </ul>
</nav>
