<nav class="onav">
  <ul class="onav-ul">
    <li class="onav-li">
      <a class="onav-a" href="" title="Weddings">Weddings</a>
    </li>
    <li class="onav-li">
      <a class="onav-a" href="" title="Social">Social</a>
    </li>
    <li class="onav-li">
      <a class="onav-a" href="" title="Corporate">Corporate</a>
    </li>
    <li class="onav-li">
      <a class="onav-a" href="" title="Cocktails">Cocktails</a>
    </li>
    <li class="onav-li">
      <a class="onav-a" href="" title="Intimate Dinners">Intimate Dinners</a>
    </li>
    <li class="onav-li">
      <a class="onav-a" href="" title="Team Building">Team Building</a>
    </li>
    <li class="onav-li">
      <a class="onav-a" href="" title="Brand Enhancement">Brand Enhancement</a>
    </li>
    <li class="onav-li">
      <a class="onav-a" href="" title="Unique Packages">Unique Packages</a>
    </li>
    <li class="onav-li">
      <a class="onav-a" href="" title="Other Services">Other Services</a>
    </li>
  </ul>
</nav>
