<section class="section testimonial-section">
  <div class="wrap clear-col">
    <h2>Testimonials</h2>
    <h3>If the mouthwatering images and reputation of Bar Isabel don&#8217;t have you convinced, here&#8217;s a what a selection of our past clientelle had to say about this package:</h3>
    <ul>
      <li>
        <div class="element">
          <div class="image">
            <img src="/static/images/testimonials/testimonials-1.jpg">
          </div>
          <div class="body">
            <span class="quote">
              Victor Dries prepared the best food we have had at one of our functions, it was like we eating at one of the best restaurants in the city.
            </span>
            <span class="author">
              Maire Susasn, CMO, Mercedes Canada
            </span>
          </div>
        </div>
      </li>
      <li>
        <div class="element">
          <div class="image">
            <img src="/static/images/testimonials/testimonials-2.jpg">
          </div>
          <div class="body">
            <span class="quote">
              Victor Dries prepared the best food we have had at one of our functions, it was like we eating at one of the best restaurants in the city.
            </span>
            <span class="author">
              Harris Davidson, Managing Director, Rogers &amp; comapny
            </span>
          </div>
        </div>
      </li>
      <li>
        <div class="element">
          <div class="image">
            <img src="/static/images/testimonials/testimonials-3.jpg">
          </div>
          <div class="body">
            <span class="quote">
              Victor Dries prepared the best food we have had at one of our functions, it was like we eating at one of the best restaurants in the city.
            </span>
            <span class="author">
              Pilsner Urquell
            </span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
