// ----------
// Event Checklist
// ----------

.event-checklist
  align-items flex-end
  bottom 0
  display flex
  flex-direction column-reverse
  padding 0 (82/1920)*100vw (68/1920)*100vw 0
  right 0
  position fixed
  z-index 3

  &:hover
    .button .icon
      transform scale(1.1)

  .button
    .icon
      background $blu
      transform scale(1)
      transition transform .1s ease-out

  .icon
    align-items center
    border-radius 100%
    display flex
    height (46/1920)*100vw
    justify-content center
    width (46/1920)*100vw

    img
      display block
      height auto
      opacity .5
      width (19/46)*100%

  .menu
    bottom ((68 + 46 + 15)/1920)*100vw
    position absolute
    right (82/1920)*100vw

  .checklist
    align-items flex-end
    display flex
    flex-direction column

    &-item
      align-items center
      display flex
      margin (5/1920)*100vw 0

    .label
      font-family $hfont
      pad(0,.5)
      white-space nowrap
      text-transform uppercase

    .icon
      background $w
