// ----------
// Gallery
// ----------

.gallery-section
  background rgba($b,.7)

  ul
    display flex
    flex-wrap wrap

    > div
      display flex
      flex-direction column

      +bp('mM')
        width 20%

      +bp('M')
        width 50%

        &:nth-child(5)
          display none

  li
    //

  .element
    position relative
    overflow hidden

    &:hover, &.active
      .image
        transform scale(1.015)

      .body
        opacity 1

        h4, a
          opacity 1
          transform translate3d(0,0%,0)


  .body, .image
    transform-origin center

  .image
    position relative
    transform scale(1)
    transition transform .35s linear

    img
      display block
      height auto
      width 100%

  .body
    align-items flex-start
    background rgba($b,.7)
    bottom 0
    display flex
    flex-direction column
    justify-content flex-end
    left 0
    opacity 0
    pad(1,1)
    position absolute
    right 0
    top 0
    transition opacity .25s linear

    +bp('mM')
      pad(1,2,1,1)

    h4, a
      font-family $hfont
      opacity 0
      transform translate3d(0,200%,0)
      transition opacity .2s linear, transform .25s ease-out

    h4
      fs(mp(4))

    a
      border-bottom 1px solid $w
      display inline-block
      fs(mp(-1))
      transition-delay .04s
