// ----------
// Menu
// ----------

.menu-section
  background rgba($b,.7)

  .menu-headings, .menu-contents
    float left

  .menu-headings
    width (200%/5)

    h2
      fs(mp(-1))

    li
      display inline-block
      font-family $mfont
      fs(mp(5))

      &:not(:last-child)
        &::after
          content '\2F'

  .menu-contents
    pad(1,0)
    width (300%/5)

    li
      float left
      mgn(0,0,1)
      width 50%

    span
      display block
      font-family $hfont
      letter-spacing .1em

      &:first-child
        color $blu
        text-transform uppercase

      &:last-child
        text-transform lowercase
