// ----------
// Offerings navigation
// ----------

.onav
  &-ul
    max-width 64em

  &-li
    color $midgrey
    display inline-block
    font-family $mfont
    fs(mp(6))
    line-height (($lh*3)/mp(6))

    &:not(:last-child)
      &::after
        content '\2F'

  &-a
    &:hover
      color $blu


// ----------
// Active state
// ----------

.onav
  &-active
    color $blu

    &::before
      content '\2014'
      display inline-block
      mgn(0,.5)
