// ----------
// Testimonials
// ----------

.testimonial-section
  background rgba($b,.7)

  h2
    fs(mp(-1))

  h3
    color $lblu
    fs(mp(4))
    mgn(1,0,4)
    max-width 18em

  li
    +bp('mM')
      float left
      width (100%/3)

  .image
    padding 0 1px

    img
      width 100%

  .body
    pad(1,3,1,1)
    position relative

  .quote, .author
    display block
    font-family $hfont
    mgn(0,0,1)

  .quote
    fs(mp(-1))
    letter-spacing .1em
    text-transform uppercase

    &::before, &::after
      color $blu
      font-size ms(8)*1em
      line-height 0

    &::before
      content '\201C'
      left -.15em
      position absolute
      top .8em

    &::after
      content '\201D'
      display inline-block
      margin-top .5em
      position absolute
      vertical-align top

  .author
    &::before
      content '\2014'
