bodyClass: home
pageClass: body-offering

{% extends "base.html" %}

{% block body %}
<section class="section hero-section">
  <div class="wrap">
    <div class="three-col">
      <h3>Food &amp; Vibe</h3>
      <h4>Spanish, Tapas Bar</h4>
      <h3>Restaurant Location</h3>
      <h4>777 College St., Toronto ON</h4>
    </div>
    <div class="two-three-col">
      <h1>Bar Isabel</h1>
      <p>Whether a formal meeting over dinner, or a cocktail celebration with stunning interactive food stations, our team of professionals will deliver on budget and on time to help you host a successful and impressive event.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</section>
{% include "partials/_gallery.html" %}
{% include "partials/_menu.html" %}
{% include "partials/_testimonials.html" %}
{% endblock %}
