// ----------
// Background
// ----------

.bg
  background $b url(/static/images/site/home-bg.jpg) no-repeat center
  background-size cover
  bottom 0
  left 0
  position fixed
  top 0
  right 0
  z-index 0
