// ----------
// Top-level
// ----------

*, *::before, *::after
  box-sizing border-box

html, body
  background $b
  min-height 100%
  width 100%

html
  color $gry
  font-family $font
  font-size 100%
  font-weight $weight
  line-height $let
  text-size-adjust 100%

  +bp('mN')
    font-size ($p/16)*100%
    font-size (16/1920)*100vw

  +bp('mM')
    font-size ($p/16)*100%
    font-size (16/1920)*100vw

  +bp('mT')
    font-size ($p/16)*100%
    font-size (16/1920)*100vw

  +bp('mD')
    font-size ($p/16)*100%
    font-size (16/1920)*100vw

  +bp('D')
    font-size ($p/16)*100%
    font-size (16/1920)*100vw

  +bp('T')
    font-size ($p/16)*100%
    font-size (16/1920)*100vw

  +bp('M')
    font-size ($p/16)*100%
    font-size (16/1920)*100vw

  +bp('N')
    font-size ($p/16)*100%
    font-size (16/1920)*100vw

  +bp('r')
    font-size ($p/16)*100%
    font-size (16/1920)*100vw

  +bp('p')
    font-size ($p/16)*100%
    font-size (16/1920)*100vw

a
  color inherit
  text-decoration none

img
  display block
  height auto
  max-width 100%

.cf
  *zoom 1

  &::before, &::after
    content ' '
    display block

  &::after
    clear both
