// ----------
// Common nav
// ----------

.mnav, .snav, .tnav
  &-a
    color $nw
    display block
    font-family $nfont
    outline 0

    +bp('mM')
      fs(mp(-1))
      padding 4px 0
      text-transform uppercase
      transition color .12s linear

      &:hover, &:focus
        color $blu

    +bp('M')
      pad(.25,1)

@import 'nav/_mnav'
@import 'nav/_snav'
@import 'nav/_tnav'
