// ----------
// Core type
// ----------

h1, h2
  font-family $hfont

h1
  fs(mp(5))
  mgn(1,0)

h2
  fs(mp(1))
  mgn(1,0)

h3
  fs(mp(3))
  mgn(1,0)

h4
  fs(mp(2))
  mgn(1,0)

h5
  fs(mp(1))
  mgn(1,0)

p
  mgn(1,0)

h1, h2, h3, h4, h5, p
  max-width $pwidth*1em


// ----------
// Modifers
// ----------

strong, b
  font-weight $bold
  letter-spacing normal

em, i
  font-style italic

sup
  font-size smaller
  vertical-align top
