// ----------
// Main nav
// ----------

.mnav
  &-ul
    +bp('mM')
      display flex
      flex-wrap wrap
      justify-content space-between
      overflow hidden
      position relative

      &:hover
        overflow visible

    +bp('M')
      background $blk
      height 100vh
      position fixed
      overflow-x scroll
      -webkit-overflow-scrolling touch
      right 100%
      top 0
      transform translate3d(0%,0,0)
      transition transform .3s ease-out
      width 100vw

  &-li
    +bp('M')
      &:last-child
        padding-bottom 25vh

  &-a
    letter-spacing .1em

    +bp('mM')
      padding 0
      text-align center


// ----------
// Dropdown
// ----------

.mnav
  &-drop
    .mnav-a
      &::after
        border 3px solid transparent
        border-top-color $w
        content ''
        display inline-block
        margin 0 5px
        vertical-align middle


// ----------
// Logo
// ----------

.mnav
  &-logo
    width 100%

    .mnav-a
      line-height 0
      padding 0

    img
      display inline-block
      width (280/1920)*100vw


// ----------
// Mobile
// ----------

.mnav
  &-mobile
    +bp('mM')
      display none

  &-open
    .mnav-ul
      transform translate3d(100%,0,0)
