// ----------
// Secondary nav
// ----------

.snav
  &-ul
    +bp('mM')
      display flex
      flex-wrap wrap
      left 0
      justify-content space-between
      opacity 0
      padding 24px 0
      position absolute
      right 0
      transform translate3d(0,8px,0)
      transition opacity .15s linear, transform .2s ease-out
      top 100%
      z-index 0

      .mnav-li:hover &
        opacity 1
        transform translate3d(0,0px,0)
        z-index 1


// ----------
// Secondary dropdown
// ----------

.snav
  &-drop
    .snav
      &-a
        opacity .5
