// ----------
// Home page
// ----------

.body-offering
  .bg
    // background-image url(/static/images/site/home-bg.jpg)

  .hero-section
    padding-top 62vh

    h1
      font-family $mfont
      fs(mp(7))

      &::after
        border-bottom 2px solid $blu
        display block
        content ''
        mgn(1,0,3)
        width 1em


    h3, h4
      font-family $hfont
      fs($p)
      letter-spacing .1em

    h3
      color $blu
      margin-bottom 0
      text-transform uppercase

      + h4
        margin-top 0

    p
      color #aaa
      fs(mp(4))
      max-width 20em
