@font-face
	font-family 'Fortescue Pro'
	src url('/static/fonts/FortescuePro.eot')
	src url('/static/fonts/FortescuePro.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/FortescuePro.woff2') format('woff2'),
		url('/static/fonts/FortescuePro.woff') format('woff'),
		url('/static/fonts/FortescuePro.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'Eyechart'
	src url('/static/fonts/Eyechart.eot')
	src url('/static/fonts/Eyechart.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Eyechart.woff') format('woff'),
		url('/static/fonts/Eyechart.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'Merlo'
	src url('/static/fonts/MerloTx-Regular.eot')
	src url('/static/fonts/MerloTx-Regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/MerloTx-Regular.woff2') format('woff2'),
		url('/static/fonts/MerloTx-Regular.woff') format('woff'),
		url('/static/fonts/MerloTx-Regular.ttf') format('truetype')
	font-weight normal
	font-style normal

@font-face
	font-family 'Merlot'
	src url('/static/fonts/Merlot-Regular.eot')
	src url('/static/fonts/Merlot-Regular.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/Merlot-Regular.woff2') format('woff2'),
		url('/static/fonts/Merlot-Regular.woff') format('woff')
	font-weight normal
	font-style normal
