bodyClass: home
pageClass: body-home

{% extends "base.html" %}

{% block body %}
<section class="section hero-section">
  <div class="wrap">
    <h2>A Taste of Our Services:</h2>
    {% include "partials/_offeringNav.html" %}
  </div>
</section>
{% endblock %}
