<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <meta name="description" content="">
	<meta property="og:site_name" content="">
	<meta property="og:url" href="" />
	<meta property="og:title" content="">
  <meta property="og:image" content="">
	<meta property="og:description" content="">
  <title>Victor Dries</title>
  <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
  <link rel="stylesheet" href="{% static '/css/vd.css' %}">
  {% block head %}{% endblock %}
</head>
<body class="loading {{ pageClass }}">
	<a href="#top" id="skip-to" title="Skip to main content">Skip to main content</a>
  <div class="bg"></div>

  <header class="header">
    <div class="header-wrap">
      {% include "partials/_mnav.html" %}
    </div>
  </header>

  <main class="main">
		<div id="top"></div>
    {% block body %}{% endblock %}
  </main>

  <footer class="footer">
    <div class="wrap clear-col">
      <h2>Explore our other offerings</h2>
      {% include "partials/_offeringNav.html" %}
    </div>
  </footer>

  {% block checklist %}
    {% include "partials/_event-checklist.html" %}
  {% endblock %}

  <script src="{% static '/js/vd.js' %}"></script>
  <script src="{% static '/js/vdLibs.js' %}"></script>
  <script src="{% static '/js/TweenMax.min.js' %}"></script>
  <script>Main.init();</script>
  {% block scripts %}{% endblock %}
</body>
</html>
